# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
IAD-Semester5
migrate
seed

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# IDE settings
.vscode/
.idea/

# macOS files
.DS_Store

# Environment variables
.env
