@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
  --green: #00be6e;
  --green-border: #7df2c1;
  --white: #ffffff;
  --gray-border: #d7d7db;
  --gray-text: #374151;
  --grat-soft: #73737c;
  --gray-header: #eff0f4;
}
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}