<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ .sample.Title }}</title>
    <link rel="stylesheet" href="/static/styles/globals.css" />
    <link rel="stylesheet" href="/static/styles/sample.css" />
    <link rel="icon" href="http://localhost:9000/img/logo-sqr.png" type="image/png" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="body">
          <div class="view">
            <div class="view-2">
              <div class="view-wrapper">
                <div class="div-wrapper"><div class="text-wrapper">{{ .sample.Title }} ({{ .sample.Formula }})</div></div>
              </div>
              <div class="container-wrapper">
                <div class="container">
                  <div class="div-wrapper"><div class="text-wrapper-2">Описание</div></div>
                  <div class="div-wrapper">
                    <p class="p">{{ .sample.Description }}</p>
                  </div>
                  <div class="horizontal-divider-wrapper"><div class="horizontal-divider"></div></div>
                  <p class="mr"><span class="span">Относительная молекулярная масса:</span> <span class="text-wrapper-3"> {{ printf "%.2f" .sample.RelativeMolecularMass }} г/моль</span></p>
                  <p class="mr"><span class="span">Стехиометрический коэффициент:</span> <span class="text-wrapper-3"> {{ .sample.StoichiometricCoefficient }} </span></p>
                </div>
              </div>
            </div>
            <img class="image" src="http://localhost:9000/img/{{ .sample.ImageURL }}" alt="{{ .sample.Title }}" />
          </div>
        </div>
        <header class="header">
          <div class="container-2">
            <div class="chatgpt-image-wrapper">
              <a href="/acid-soluble-samples"><img class="chatgpt-image" src="http://localhost:9000/img/logo.png" /></a>
            </div>
            <div class="view-3"></div>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>